github "ReactiveX/RxSwift" ~> 4.0
github "Instagram/IGListKit" ~> 3.0

binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json"

github "Quick/Quick"
github "Quick/Nimble"
github "MakeAWishFoundation/SwiftyMocky"
